@charset "utf-8";
/* CSS Document */

.anchor {
	display:block;
	padding-top:80px;
	margin-top;-80px;
}


.sticky {
  position: fixed;
  top: 40;
  width: 100%
}

.sticky + .content {
  padding-top: 20px;
}
